body{
    background-color: #42455a;
}

.topContainer{
    display: inline-flex;
    width: 100%;
    align-items: center;
    /* margin: auto; */
    background-color: #6fcae3;
    border: 1px solid #000;
    height: 10%;
    border-left: 15px solid #000;
}

.heading{
    border: 2px solid #000;
    width: 80% !important;
    margin-right: 4.5% !important;
    height: 20%;
    margin: auto;
    border-radius: 20px 0px;
    background-color: #ffffff;
    border-top: 5px solid #000;

}

a{
    color: white;
    background-color: rgb(229, 97, 97);
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 5px;
    height: 5% !important;
    padding: 1%;
    margin-right: 1% !important;
}

a:hover{
    background-color: #fff;
    color: #000;
}

.classhead{
    font-size: 250%;
    text-align: center;
    text-decoration: none;
    margin-left: 40%;
    margin-bottom: 0px !important;
    background-color: #cf8c8c;
    color: #fff;
}

h1{
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 1%;
}

.classpara{
    margin: 0px !important;
    margin-top: -0.5% !important;
    margin-left: 55% !important;
    text-align: center;
}

.avatarCont{
    width: fit-content;
    height:1% !important;
    border: 1px solid #000;
    border-radius: 100px;
    margin-top: 1%;
    margin-left: 40%;
    align-items: center !important;
}

img{
    border-radius: 100px;
    /* width: 60%; */
    margin: auto;
}

.contents{
    border: 2px solid #000;
    border-radius: 5px;
    height: 100%;
    width: 60%;
    margin: auto;
}

p{
    text-align: center;
    font-weight: 1000% !important;
    font-size: 20px;
}

.leftbtn, .rightbtn, .downbtn{
    margin: 3%;
    padding: 1.5%;
    cursor: pointer;
}

.leftbtn{
    margin-right: 5% !important;
    margin-left: 20% !important;
}

.rightbtn{
    margin-right: 5% !important;
    margin-left: 20% !important;
}

.downbtn{
    margin-left: 37%;
    margin-top: 2%;
}