body{
    background: linear-gradient(to right, lightblue, lightgreen);
    font-family: serif;
}

.container{
    /* border: 1px solid #2b2626; */
    width: 480px !important;
    /* height: 485px; */
    height: max-content;
    min-height: 500px;
    margin: auto !important;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.323);
    border-radius: 10px;
    padding-bottom: 30px !important;
    margin-bottom: 30px !important;
}

h1{
    /* margin: auto; */
    /* width: max-content; */
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 11px;
    padding-top: 10px;
    /* margin: 10px !important; */
}

form{
    /* background-color: #fff; */
    border-radius: 5px;
    height: 80%;
}

.contDiv{
    display: block;
    margin: 3%;
}

label{
    margin-bottom: -2px;
    margin-top: 7px;
    font-size: large;
    font-weight: 100;
    font-family: sans-serif;
}

input{
    margin-top: 2% !important;
    padding: 2%;
}

#status{
    margin-left: 4%;
    background-color: #48eb48;
    color: #fff;
    font-size: 25px;
    padding: 5px;
    font-family: sans-serif;
    text-align: center;
}

.btn-container{
    margin-left: 50px;
    /* margin-bottom: 10px; */
    padding-bottom: 10px;
}

.leftbtn{
    margin-left: 30px;
}

.user{
    font-size: 60px;
    text-align: center !important;
    margin-top: 10px;
    margin-left: 180px !important;
    margin-right: auto !important;
    
}

/* / Styles for Extra Small Devices (phones) / */
@media only screen and (max-width: 576px) {
    /* / CSS styles for phones / */

    .container{
        /* border: 1px solid #2b2626; */
        width: 360px !important;
        height: max-content;
        min-height: 500px;
        margin: auto !important;
        background: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.323);
        border-radius: 10px;
    }
    
    .btn-container{
        margin-left: 30px;
        /* margin-bottom: 10px; */
        padding-bottom: 10px;
    }
    
    h1{
        font-size: 20px !important;
    }

    .user{
        font-size: 40px;
        text-align: center !important;
        margin-top: 10px;
        margin-left: 140px !important;
        margin-right: auto !important;
        
    }
}

