 body {
     font-size: 10.5px !important;
     display: grid;
     place-items: center;
 }



 .detail {
     font-weight: bold;
     border: 1px solid;
     width: 100%;
     padding: 2px !important;
     box-sizing: border-box;
 }

 .container {
     width: 60% !important;
 }

 .cognitive {
     background-color: #252323;
     color: #fff;
     text-align: center;
     text-transform: uppercase;
     padding: 8px 10px;
     font-weight: 600;
     margin-top: 30px;
 }


 .visible h1 {
     background-color: #252323;
     color: white;
     text-align: center;
     text-transform: uppercase;
 }

 .gray,
 .blue,
 .inner {
     width: 100%;
     height: 200px;
 }

 .inner {
     background-color: #fff;
     border-top-left-radius: 100%;
 }

 .inner h1 {
     display: none;
 }

 .gray {
     background-color: gray;
 }

 header {
     margin-top: 10px;
     background-color: #fff !important;
     border-top-left-radius: 100%;
     margin-top: -40px;
 }

 .header {
     margin-top: 200px;
 }

 .row2 label {
     display: none;
 }

 .blue {
     border-top-left-radius: 70%;
     background-color: rgb(43, 99, 238);
 }

 .logo {
     position: absolute;
     border-radius: 50%;
     top: 45px;
     left: 340px;
 }

 .blue p {
     color: gray;
 }

 .none-visible {
     color: white;
 }

 .avatar {
     border: 1px solid #666;
     width: 110px;
     height: 110px;
     position: absolute;
     left: 980px;
     top: 50px;
 }

 .school {
     position: absolute;
     top: 60px;
     left: 475px;
     font-size: 30px;
     text-transform: uppercase;
     font-weight: 9rem;
 }

 .school h4 {
     font-size: 20px;
     text-align: center;
     font-weight: normal;
     margin-top: -10px;
 }

 .blue2,
 .gray2 {
     width: 100%;
     height: 25px;
 }

 .blue2 {
     /* margin-top: 5px; */
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     background-color: rgb(43, 99, 238);
 }

 .gray2 {
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
     background-color: #252323;
 }

 .school .address {
     text-align: center;
     font-size: 18px;
     font-weight: normal;
     margin-top: -10px;
 }

 .motto {
     text-align: center;
     font-size: 16px;
     font-weight: normal;
     margin-top: -10px;
     font-style: italic;
 }

 .row2 {
     margin-top: 300px;
 }

 .visible {
     width: 90%;
     margin: -130px auto 0px 50px;
 }

 th,
 td {
     border: 1px solid black;
 }

 table {
     margin-top: 10px;
 }

 .footer {
     /* border: 1px solid black; */
     margin-top: 10px;
     /* width: 75%; */
 }

 .footer h1 {
     display: none;
     border-bottom: 1px solid black;
     text-align: center;
     background-color: #252323;
     color: white;
     font-size: 15px;
 }

 .sub-comment {
     padding-top: 5px;
     display: grid;
     column-gap: 6px;
     /* border: 1px solid black; */
     grid-template: auto auto auto / 1fr 1fr 1fr;
 }

 .sign {
     margin-bottom: 0px;
 }

 .teacher-comm {
     margin-top: -10px;

 }

 .total {
     position: relative;
     font-size: 15px;
     text-transform: uppercase;
 }

 .date {
     margin-left: 24px;
 }

 .sig-date {
     margin: 0px 1px;
     margin-top: -13px !important;
 }

 .total-score {
     position: absolute;
     right: 230px;
 }

 .term-begin {
     position: relative;
     right: 40px !important;
 }

 @media print {
     #blue {
         display: block !important;
     }

     #gray {
         display: block !important;
     }

     .term-begin {
         right: 80px !important;
     }

     .total-score {
         right: 150px;
     }

     .container {
         width: 130% !important;
     }

     .avatar {
         top: 20px;
         left: 550px;
         width: 80px;
         height: 80px;
     }


     .logo {
         top: 20px;
         left: 130px;
     }

     .school {
         left: 225px;
         top: 25px;
     }

     .school h3 {
         font-size: 15px !important;
         text-align: center;
     }

     .school h4 {
         font-size: 15px;
         text-align: center;
     }

     .btn {
         display: none !important;
     }

     .gray,
     .blue,
     .inner {
         height: 130px;
     }

     .header {
         /* margin-left: auto !important; */
         /* border: 1px solid; */
         margin-top: 140px;
         margin-right: 200px !important;
     }

     .header h1 {
         margin-right: 20px;
         background-color: blue;
         text-align: center;
         position: relative;
         text-transform: uppercase !important;
     }
 }