body {
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    zoom: 1 !important;
    max-zoom: 1 !important;
    min-zoom: 1 !important;
}

.form-group {
    margin-bottom: 20px;
}

.btn {
    width: 100%;
}

@media screen and (max-width: 425px) {
    *{
        font-size: 11px;
        /* zoom: 1; */
    }
    .container{
        width: 100%;
        display: inline-block !important;
        justify-content: left !important;
        align-items: center !important;
        margin: auto;
    }
    .panel{
        margin: 0px;

        padding: 5px !important;
        width: max-content !important;
        /* margin-top: 15px; */
        box-sizing: border-box;
        margin: auto !important;
        margin-top: 15px !important;
    }
    .form-container{
        margin: 0px;
        margin: auto !important;
        width: max-content !important;
    }
    .back-btn{
        width: fit-content;
        /* margin: auto !important; */
        margin-left: 150px !important;
        margin-top: -30px !important;
    }
}

.text-center{
    font-weight: bold;
}

.container {
    max-width: 1070px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .form-container {
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    margin-right: 20px;
  }
  .panel {
    width: max-content;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #ffffff;
  }

.back-btn{
    width: fit-content;
    margin-left: 165px;
  }