body {
    background: #4b6cb7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}
.profile-container {
    display: flex;
    margin: auto;
    max-width: 800px;
}
.sidebar {
    width: 200px;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    margin-right: 20px;
    margin-left: 50px;
    margin-top: 80px;
}
.sidebar h2 {
    margin-bottom: 20px;
}
.btn {
    display: block;
    width: 100%;
    margin: 10px 0;
}
.profile-content{
    margin: auto 100px;
}

@media only screen and (max-width: 576px) {
    .profile-container{
        display: block !important;
        width: fit-content;
    }

    .sidebar{

        margin-left: auto !important;
        margin-right: auto !important;
        width: 300px !important;
        /* margin: auto; */
        margin-top: 300px !important;
        position: absolute;
        
    }
    .profile-content button{
        width: 200px !important;
    }
    .profile-content{
        /* border: 1px solid black; */
        margin-left: 50px;
    }

    .sidebar h2{
        text-align: center;
    }
    .btn{
        width: 100%;
        font-size: 12px;
    }

    img{
        margin-left: auto !important;
        margin-right: auto !important;
        text-align: center;
    }

    h1, h2{
        font-size: 20px !important;
    }
}

@media only screen and (min-width: 455) and (max-width: 675) {
    .profile-content{
        width: 400px !important;
        border: 1px solid red !important;
    }
    .btn{
        background-color: black;
    }
}
