<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-5.15.4-web/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='adminPage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css')}}">
</head>
<body>
    <div class="container">
        <img class="admin-avatar" src="{{ url_for('static', filename='admin.jpeg') }}" alt="Admin Avatar">
        <h1>Welcome, Admin</h1>
        <a href="making_query" class="button button-query"><i class="icon fas fa-search"></i> Making Query</a>
        <a href="admin/Permissions" class="button button-permissions"><i class="icon fas fa-user-lock"></i> Permissions</a>
        <a href="exams_settings" class="button button-settings"><i class="icon fas fa-cogs"></i> Exam Settings</a>
        <a href="#" class="button button-upload"><i class="icon fas fa-cloud-upload-alt"></i> Uploading Questions</a>
        <a href="#" class="button button-school"><i class="icon fas fa-school"></i>School Info</a>
        <a href="assign_role" class="button button-role"><i class="icon fas fa-user-cog"></i>Assigning Role</a>
        <a href="admin/report_gate" class="button btn-secondary"><i class="icon fas fa-card"></i>Report Card</a>
        <a href="/" class="button btn-danger"><i class="icon fas fa-sign-out-alt"></i>Go Back</a>
    </div>
</body>
</html>