<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CBT TEST</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <script src="{{ url_for('static', filename='jquery-3.7.1.js')}}"></script>
  <script src="{{ url_for('static', filename='mathjax/es5/tex-mml-chtml.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for( 'static', filename='quizPage.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='customAlert.css') }}">
</head>
<body>
  <div class="confirm-box" style="display: none;">
    <h2 id="confirm-h2">Confirmation</h2>
    <p id="confirm-p">Are you sure you want to submit?</p>
    <div id="confirm-div">
        <button onclick="confirmSelect()" id="confirm-left-btn">Yes</button>
        <button onclick="ok()" id="confirm-right-btn">Cancel</button>
    </div>
  </div>
  <div class="generalDiv">
    <div class="header bg-primary">
      <img src="{{ url_for('static', filename='khulafau Logo.jpg') }}" alt="photo">
      <h2 id="schoolDiv">Khulafa'u International School <br><span id="cbt">CBT PROGRAMME</span></h2>
    </div>
    <div class="header1">
      <div class="details">
        <p class="detailsGroup"><u>NAME</u>: {{ name}}</p>
        <p class="detailsGroup"><u>CLASS</u>: {{ user_class.replace('_', ' ') }}</p>
        <p class="detailsGroup"><u>REGISTER NUMBER</u>: {{ regNo }}</p>
        <p class="detailsGroup"><u>SUBJECT</u>: {{ subject }}</p>
      </div>
      <img data-username="{{ username }}" class="userImage" src="{{ url_for('static', filename='image/' + username + '.jpg') }}" alt="{{ url_for('static', filename='logo.png') }}">
    </div>
    <p id="remQuest">{{ remaining_questions }}</p>
    <div id="sepDiv">
      <div class="formdiv">
        <h2 id="Quest_number">Question {{  quest_number }}</h2>
        <h3 id="Quest_inst">{{ quest_inst }}</h3>
        <p id="Question">{{ question }}</p>
        {% for i in range(10) %}
          
          {% if  i < len(options) %}
            <div class="quiz-option">
              <input id={{ "inputOption" + string(i + 1) }} onclick="remQuest()" type="radio" class="optionClass" name="opt" value={{ options[i] }} {% if options[i] == selected_option %} checked {% endif %}>
              <label for={{ "inputOption" + string(i + 1) }}>[{{ option_boxes[i] }}]  {{ options[i] }}</label><br>
            </div>
          {% else %}
              <div class="quiz-option" style="display: none;">
                <input id={{ "inputOption" + string(i + 1) }} onclick="remQuest()" type="radio" class="optionClass" name="opt" value={{ options[i] }} {% if options[i] == selected_option %} checked {% endif %}>
                <label for={{ "inputOption" + string(i + 1) }}>[{{ option_boxes[i] }}]  {{ options[i] }}</label><br>
              </div>
          {% endif %}
            
        {% endfor %}
      </div>
      <div id="timSub">
        <div id="countWrite"  data-url = {{exam_time}}>
          COUNTDOWN TIMER (MIN):
        </div>
        <div id="timer" data-url= {{ url_for('loginForm') }}>
        </div>
        <input id="submitBtn" type="submit" onclick="reveal()">
        <div class="nav-btns">
          <label>Questions navigation</label>
          <div class="btn-div">
            {% for btn in range(number_of_questions) %}
              {% if btn in shaded_questions %}
                <button id="{{ btn + 1 }}btn" value="{{ btn + 1 }}" data-number="{{ btn }}" class="greenClass nav-btn">{{ btn + 1 }}</button>
              {% else %}
                <button id="{{ btn + 1 }}btn" value="{{ btn + 1 }}" data-number="{{ btn }}" class="nav-btn">{{ btn + 1 }}</button>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="btndiv">
      {% if quest_number > 1 and quest_number < number_of_quest %}
        <button class="np-btns" value="Previous" id="previousButtton" name="btn">Previous</button>
        <button class="np-btns" value="Next" id="nextButtton" name="btn">Next</button>  
      {% elif quest_number == number_of_quest %}
        <button class="np-btns" value="Previous" id="previousButtton" name="btn">Previous</button>
        <button class="np-btns" value="Next" id="nextButtton" name="btn" style="display: none;">Next</button>  
      {% elif quest_number == 1 %}
        <button class="np-btns" value="Previous" id="previousButtton" name="btn" style="display:none;">Previous</button>
        <button class="np-btns" value="Next" id="nextButtton" name="btn">Next</button>
      {% else %}
        <button class="np-btns" value="Previous" id="previousButtton" name="btn" style="display:none;">Previous</button>
        <button class="np-btns" value="Next" id="nextButtton" name="btn">Next</button>
      {% endif %}
    </div>
  </div>
  <script src="{{ url_for('static', filename='countdownTimer.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='quiz_control.js') }}"> </script>
</body>
</html>