<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exams settings</title>
    <!-- <link rel="stylesheet" href="{{ url_for( 'static', filename='adminPage.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for( 'static', filename='examsSettings.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-5.15.4-web/css/all.min.css') }}">
    <script src="{{ url_for('static', filename='jquery-3.7.1.js')}}"></script>
</head>
<body>
    <div style="display: none;" class="topContainer">
        <div class="heading"><h1 class="classhead">KHULAFAU INTERNATIONAL SCHOOL</h1>
            <p class="classpara">Nursey Primary and Secondary School Imam Road Unguwan Katsinawa Shika</p>
        </div>
    </div>
    <!-- <h2>Exams settings</h2> -->
    <div class="container">
      <form action="/exams_settings" method="POST">
        <div class="settingClass">
            <!-- {% if success %} -->
            <label id="alertid" class="alert alert-success mt-5 mb-0" role="alert">{{ success }}</label>
            <!-- {% endif %} -->
          <div class="form-group" id="sClass">
              <label class="form-label" for="class">Select class</label><br>
              <select class="form-control" name="class" id="class">
                  {% for school_class in shool_classes %}
                      <option value="{{ school_class.upper() }}">{{ school_class.upper().replace("_", " ") }}</option>
                  {% endfor %}
              </select><br>
          </div>
          <div class="form-group" id="sSubject">
              <label class="form-label" for="subject">Select subject</label><br>
              <select class="form-control" name="subject" id="subject">
                  {% for subject in subjects %}
                      <option value="{{ subject.upper() }}">{{ subject.replace("_", " ").upper() }}</option>
                  {% endfor %}
              </select><br>
          </div>
          <div class="form-group" id="nQuestions">
              <label class="form-label" for="questNumb">Number of questions</label><br>
              <select class="form-control" name="questNumb" id="questNumb">
                  <option value="5" selected>5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="25">25</option>
              </select><br>
          </div>
          <div class="form-group" id="mpQuestion">
              <label class="form-label" for="questionMark">Mark per question</label><br>
              <select class="form-control" name="questionMark" id="questionMark">
                  <option value="1" selected>1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
              </select><br>
          </div>
          <div class="form-group" id="duration">
              <label class="form-label" for="duration">Duration (Minutes)</label><br>
              <select class="form-control" name="duration" id="duration">
                  <option value="1" selected>1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="25">25</option>
                  <option value="30">30</option>
              </select>
          </div>
          <div class="form-group mt-3" id="testType">
              <label class="form-label" for="testType">Test type</label><br>
              <select class="form-control" name="testType" id="testType">
                  {% for test in school_test %}
                      {% if test == current_test %}
                          <option selected value="{{ current_test.upper() }}">{{ current_test.replace("_", " ").upper() }}</option>
                      {% endif %}
                      <option value="{{ test.upper() }}">{{ test.replace("_", " ").upper() }}</option>
                  {% endfor %}
              </select>
          </div>
          <div class="form-group functionDiv">
            <button name="btn" value="save_change" class="btn btn-success" id="leftbtn"><i class="fas fa-save"></i> Save</button>
            <a href="/admin" name="btn" value="reset" id="right-btn" class="btn btn-danger"><i class="fas fa-sign-out-alt"></i> Go back</a>
          </div>
        </div>
    </form>
    </div>
    <script>
        // let saveBtn = $("#leftbtn")

        // saveBtn.click(function(event){
        //     event.preventDefault()
        //     $("#alertid").toggle().delay(2000).fadeOut()
        // })
       
    </script>
</body>
</html>