<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Input Scores Form</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css')}}">
  <link href="{{ url_for('static', filename='fontawesome-free-5.15.4-web/css/all.min.css')}}" rel="stylesheet">
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='input-scores.opiuuucss')}}"> -->
</head>
<body>
  <div class="container">
    <div class="table-container">
      <h2><i class="fas fa-edit"></i> Input Student Scores</h2>
      <table id="dataTable" class="table table-bordered">
        <thead>
          {% if tables_column %}
            {% for table_column in tables_column %}
              <th>{{ table_column.upper().replace("_", " ") }}</th>
            {% endfor %}
          {% endif %}
        </thead>
        <tbody>
          {% if student_list %}
            {% for detail in student_list %}
              <tr>
                {% if attend %}
                  {% for info in detail %}
                    <td contenteditable="true">{{ info[0] }}</td>
                  {% endfor %}
                {% else %}
                  {% for info in detail %}
                    {% if info[1] == "yes" %}
                      <td class="scores" contenteditable="true">{{ info[0] }}</td>
                    {% else %}
                      <td>{{ info[0] }}</td>
                    {% endif %}
                  {% endfor %}
                {% endif %}

              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
      <button id="submit-button" class="btn btn-primary btn-submit"><i class="fas fa-save"></i> Save</button>
      <a href="staff" class="btn btn-danger"><i class="fas fa-sign-out-alt"></i> Go back</a>
    </div>
  </div>
  <script src="{{ url_for('static', filename='jquery-3.7.1.js')}}"></script>
  <script>
    let cell;
    document.querySelector("#dataTable").addEventListener("input", function(event){
      event.preventDefault()
      cell = event.target;
      cell.setAttribute('data-changed', 'true')
      let cellValue = event.target.textContent
      console.log(cellValue.slice(0, -1))
      if (cellValue > 100){
        const newCellValue = cellValue.slice(0, -1);
        event.target.textContent = newCellValue;
        alert('cell cannot exceed 60')
      }else{
        cellValue = cellValue.replace(/[^\d]/g, '');
      }
    })

    document.querySelector("#submit-button").addEventListener("click", function(event){
      event.preventDefault();
      changedCells = document.querySelectorAll('[data-changed="true"]');

      let row;
      let column;
      let columnName;
      let newData;
      let targetCell;
      let targetColumn;
      let lst = new Array
      changedCells.forEach(function(cell) {
          row = cell.parentElement.rowIndex;
          console.log(cell)
          column = cell.cellIndex;
          columnName = document.querySelector('#dataTable th:nth-child(' + (column + 1) + ')').textContent;
          newData = cell.textContent;

          targetCell = document.querySelector('#dataTable').rows[row].cells[0].textContent;
          targetColumn = document.querySelector('#dataTable').rows[0].cells[0].textContent;

          console.log(targetColumn)
          cell.removeAttribute('data-changed');
          let rawList = [newData, columnName, row, targetColumn]
          lst.push(rawList)
      })
      let dict = {listData: lst}

      $.ajax({
        url:'/process_query',
        type: 'POST',
        contentType:'application/json',
        data: JSON.stringify(dict),
        success: function(response){
            alert(response.success);
            location.reload();
        }
    })
    })
  </script>
  <script>
    const scores = document.querySelectorAll('.scores');
    scores.forEach(score => {
      score.onchange= () => {
        alert('hi')
      }
    })
  </script>
</body>
</html>