<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In Form</title>
    <!-- <link
      rel="stylesheet"
      href="{{ url_for( 'static', filename='loginForm.css')}}"
    /> -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='customAlert.css') }}"
    />
    <!-- <link
      href="{{ url_for('static', filename='fontawesome-free-5.15.4-web/css/all.min.css')}}"
      rel="stylesheet"
    /> -->
    <link
      href="{{ url_for('static', filename='fontawesome-free-6.7.1-web/css/all.min.css')}}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='bootstrap.min.css')}}"
    />
    <style>
      .login-body{
        font-weight: 100;
      }
    </style>
    <script src="{{ url_for('static', filename='jquery-3.7.1.js')}}"></script>
  </head>
  <body style="background-image: linear-gradient(to left, #3bd1f3, #3373e9)">
    <div class="d-flex p-5">
      <div class="p-2 text-white w-75">
        <h1 class="d-flex justify-content-center mt-2">
          <img width="50px" height="50px" src="{{ url_for( 'static', filename='khulafau Logo.jpg')}}" alt="Alhikma School Logo">
          Khulafa'u Cbt software
        </h1>
        <p class="w-75 p-2 login-body" style="font-size:large; font-weight:100;">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis odit impedit, dignissimos quis itaque est at fugiat quo. Nihil enim aut nulla ipsa ullam tempora accusamus officia quis. Laborum, sint.
        </p>
      </div>
      <div style="max-width: 500px">
        <form
          onsubmit="handleSubmit"
          class="bg-white mt-4 rounded row g-3 needs-validation was-validated py-4 px-3 w-75 m-auto shadow-lg"
          novalidate=""
          action="#"
        >
          <div class="d-none alert alert-success" role="alert">
            Login successfully!
          </div>
          <div class="mt-0">
            <label for="validationCustom01" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              id="validationCustom01"
              required
            />
            <div class="invalid-feedback">Username is required</div>
          </div>
          <div class="">
            <label for="validationCustom02" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="validationCustom02"
              required
            />
            <div class="invalid-feedback">Password is required</div>
          </div>
          <div class="">
            <label for="validationCustom01" class="form-label">Subject</label>
            <select class="form-select" id="validationCustom03" required>
              <option selected disabled>Select subject</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="">
            <button
              class="btn btn-primary text-white focus-ring rounded-1 w-100"
              type="submit"
              style="box-sizing: border-box"
            >
              Login
              <i class="fa-solid fa-arrow-right-to-bracket"></i>
            </button>
          </div>
          <div class="">
            <small class="">Dont have an account <a href="#">Sign up</a></small>
          </div>
        </form>
      </div>
    </div>
    <script>
      function togglePassword() {
        const passwordField = document.getElementById("password");
        var eyeIcon = document.getElementById("eyeIcon");
        if (passwordField.type === "password") {
          passwordField.type = "text";
          eyeIcon.classList.add("fa-eye");
          eyeIcon.classList.remove("fa-eye-slash");
        } else {
          passwordField.type = "password";
          eyeIcon.classList.remove("fa-eye");
          eyeIcon.classList.add("fa-eye-slash");
        }
      }

      function ok() {
        document.querySelector(".confirm-box").style.display = "none";
        document.querySelector(".success-box").style.display = "none";
        document.querySelector(".error-box").style.display = "none";
        document.querySelector(".contents").style.opacity = 1;
      }

      function cancel() {
        document.querySelector(".confirm-box").style.display = "none";
        document.querySelector(".success-box").style.display = "none";
        document.querySelector(".error-box").style.display = "none";
        document.querySelector(".contents").style.opacity = 1;

        location.reload();
      }
    </script>
    <script>
      $(document).ready(function () {
        $(".btn").click(function (event) {
          event.preventDefault();
          let loginPassword = document.querySelector("#password").value;
          let username = document.querySelector("#username").value;
          let selectSubject = document.querySelector("#subject").value;

          $.ajax({
            url: "/handle_login",
            type: "POST",
            data: {
              username: username,
              password: loginPassword,
              subject: selectSubject,
            },
            success: function (response) {
              console.log(response);
              if (response.quiz) {
                window.location.href = response.quiz;
              } else if (response.staff) {
                window.location.href = response.staff;
              } else if (response.message) {
                window.location.href = response.message;
              } else {
                console.log(response);
                let objectKey = Object.keys(response)[0];

                let shownBox = "." + objectKey + "-box";
                let shownPara = "#" + objectKey + "-p";

                $(shownBox).show();

                for (let attribute in response) {
                  let value = response[attribute];
                  $(shownPara).text(value);
                }
                document.querySelector(".contents").style.opacity = 0.1;
              }
            },
          });
        });
      });
    </script>
  </body>
</html>
