<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='makingQuery.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css')}}">
    <title>Making Query</title>
</head>
<body>
    <div class="container">
        <button onclick="print()">Print</button>
        <h1>You can now edit and make your changes now to the database</h1>
        <form id="userForm" action=""  method="post">
            <div class="edit-field">
                <div class="h2text">
                    <h2>Please select the table you wan to edit below. Note this edit only applies to the first column only !!!!</h2>
                </div>
                <h2>Editing field</h2>
                <label for="table" class="tableLabel">Table name</label>
                <select name="table" id="table">
                    {% if selected_table %}
                        <option value="" disabled >Select table name</option>
                        {% if database_table %}
                            {% for table_name in  database_table %}
                                <option value="{{ table_name.replace(' ', '_') }}" {% if selected_table == table_name %}selected{% endif %}>{{ table_name }}</option>
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        <option value="" disabled selected>Select table name</option>
                        {% if database_table %}
                            {% for table_name in  database_table %}
                                <option value="{{ table_name.replace(' ', '_') }}">{{ table_name }}</option>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </select>
                <div class="btn-container">
                    <button id="editbtn" name="editbtn" value="edit">Browse</button>
                    <button id="saveBtn" name="saveBtn" value="save">Save</button>
                </div>
            </div>
        </form>
        <div class="veiwingContainer">
            <table class="table table-bordered" id="dataTable" style="display: block;">
                {% if table_columns %}
                    <thead>
                        <tr class="table-row">
                            {% for column in table_columns %}
                                <th>{{ column.upper().replace('_', ' ') }} </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        {% for info in informations %}
                            <tr>
                                {% for data in info %}
                                    <td contenteditable="true">{{ data }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                {% endif %}
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='jquery-3.7.1.js')}}"></script>
    <script>
        let cell;
        document.getElementById('dataTable').addEventListener('input', function(event){
            cell = event.target;
            cell.setAttribute('data-changed', 'true');
        })

        document.getElementById('saveBtn').addEventListener('click', function(event) {
            event.preventDefault();
            const changedCells = document.querySelectorAll('[data-changed="true"]');
            let row;
            let column;
            let columnName;
            let newData;
            let targetCell;
            let targetColumn;
            let lst = new Array
            changedCells.forEach(function(cell) {
                row = cell.parentElement.rowIndex;
                column = cell.cellIndex;
                columnName = document.querySelector('#dataTable th:nth-child(' + (column + 1) + ')').textContent;
                newData = cell.textContent;

                targetCell = document.getElementById('dataTable').rows[row].cells[0].textContent;
                targetColumn = document.getElementById('dataTable').rows[0].cells[0].textContent;

                console.log(targetColumn)
                cell.removeAttribute('data-changed');
                let rawList = [newData, columnName, row, targetColumn]
                lst.push(rawList)
            })
            let dict = {listData: lst}

            console.log(lst)
            console.log('Column: ' + columnName + ', Row: ' + row + ', New Data: ' + newData);
            $.ajax({
                url:'/process_query',
                type: 'POST',
                contentType:'application/json',
                data: JSON.stringify(dict),
                success: function(response){
                    alert(response.success);

                    location.reload();
                }
            })
        })
    </script>
</body>
</html>