<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='registrationForm.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <script src="bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
  <div style="width: 80%; margin: auto;">
     <div class="row">
      <form action="#" onsubmit="return reveal()"  method="post" id="my-form" style="margin-top: 15px;">
        <div class="mt-3 biodetails">
          <h3>Biometric Informations</h3>
          <div class="mt-3 col-10">
            <label for="Name" class="form-label">First Name</label>
            <input type="text" id="Name" class="form-control"  placeholder="Enter your first name" name="f_name" required>
          </div>
          <div class="mt-3 col-10">
            <label for="Surname" class="form-label">Surname</label>
            <input type="text" id="Surname" class="form-control" placeholder="Enter your surname" name="s_name" required>
          </div>
          <div class="mt-3 col-10">
            <label for="MiddleName" class="form-label">Middle Name</label>
            <input type="text" id="MiddleName" class="form-control" placeholder="Enter your middle name" name="m_name">
          </div>
          <div class="form-group mt-3">
            <select name="gender" id="gender" required>
              <option value="" selected>Select gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="none">Rather not say</option>
            </select>
          </div>

          <div class="form-group mt-3">
            <label for="datepicker" class="form-label">Date of birth
            <input type="date" class="input-group date" id="datepicker" name="dob" required>
            </label>
          </div>
          <div mt-3 class="mt-3">
            <label for="imageUpload">Select an image to upload:</label>
            <input type="file" id="imageUpload" name="imageUpload">
          </div>
        </div>
        <div class="mt-5 acadinfo">
          <h3>Academic Informations</h3>
          <div class="form-group mt-3">
            <select name="gender" id="gender" required>
              <option value="" disabled selected>User type</option>
              <option value="Male">Student</option>
              <option value="Female">Staff</option>
            </select>
          </div>
          <div class="form-group mt-3">
            <select name="classes" id="class" required>
              <option value="" selected>Select class</option>
              <option id="classgroup" value="Science 1A">Science 1A</option>
              <option id="classgroup" value="Science 1B">Science 1B</option>
              <option id="classgroup" value="Art 1A">Art 1A</option>
              <option id="classgroup" value="Art 1B">Art 1B</option>
              <option id="classgroup" value="Science 2A">Science 2A</option>
              <option id="classgroup" value="Science 2B">Science 2B</option>
              <option id="classgroup" value="Art 2A">Art 2A</option>
              <option id="classgroup" value="Art 2B">Art 2B</option>
              <option id="classgroup" value="Science 3A">Science 3A</option>
              <option id="classgroup" value="Science 3B">Science 3B</option>
              <option id="classgroup" value="Art 3A">Art 3A</option>
              <option id="classgroup" value="Art 3B">Art 3B</option>
            </select>
          </div>
          <div class="mt-3 col-10">
            <label for="regNo" class="form-label">Registration number</label>
            <input type="number" id="regNo" class="form-control emailcont" placeholder="Your register number in class" name="regno" required>
          </div>
          <div class="mt-3 col-10">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control" placeholder="example@gmail.com" name="email" required>
          </div>
          <div class="mt-3 col-10">
            <label for="create-password" class="form-label">Create password</label>
            <input type="password" id="create-password" class="form-control" placeholder="Your password" name="crpass" required>
          </div>
          <div class="mt-3 col-10">
            <label for="confirm-password" class="form-label">Confirm password</label>
            <input type="password" id="confirm-password" class="form-control" placeholder="Password as above" name="cnpass" required>
          </div>
        </div>
        <button type="submit" class="btn btn-outline-success my-3 ms-4" id="button">Sign Up</button>
        <div class="my-3 form-group">
        Already have account? <a href="/" class="text-primary">Sign in now</a>
        </div>
      </form>
    </div>
  </div>
  <script type="text/javascript">
  	function reveal() {
  		const button = document.querySelector('#button')
  		const Name = document.getElementById('Name').value;
  		const Surname = document.querySelector('#Surname').value;
  		const classes = document.querySelector('#class').value;
  		const MiddleName = document.querySelector('#MiddleName').value;
  		const gender = document.querySelector('#gender').value;
  		const dob = document.querySelector('#datepicker').value;
  		const imageUpload = document.querySelector('#imageUpload').value;
  		const regNo = document.querySelector('#regNo').value;
  		const email = document.querySelector('#email').value;
  		let createpassword = document.querySelector('#create-password').value;
  		let confirmpassword = document.querySelector('#confirm-password').value;
  		const classList = document.querySelector('#class').value;

  		if (confirmpassword !== createpassword){
  			alert('Please ensure that the password and confirm password fields are the same')
  			return false
  		}
  		
  		alert(`Dear ${Name} You have registered successfully`)
  	}
  	// console.log(document.getElementById('my-form'))
  	
  </script>
</body>
</html>