<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css')}}">
    <link href="{{ url_for('static', filename='fontawesome-free-5.15.4-web/css/all.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='teachers-page.css')}}">
    <style>
    </style>
  </head>
  <body>
    <form action="" method="post">
      <div class="container profile-container">
        <div class="sidebar">
          <h2>Your Roles</h2>
          {% if role_details %}
            {% for role_detail in role_details %}
              {% if role_detail[2] == "FORM_MASTER" %}
                <button name="attendance" value="{{ role_detail[-2], role_detail[2] }}" class="btn btn-primary"><i class="fas fa-pen"></i> Input Attendance {{ role_detail[-2].title().replace("_", " ") }}</button>
              {% else %}
                <button name="scores" value="{{ role_detail[-2], role_detail[2] }}" class="btn btn-primary"><i class="fas fa-pen"></i> Input Scores {{ role_detail[2].title().replace("_", " ") }} {{ role_detail[-2].title().replace("_", " ") }}</button>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
        <div class="profile-content">
          <img src="teacher-image.jpg" class="profile-image" alt="Teacher Image">
          <h2 style="text-align: center;">Welcome</h2>
          <h3 style="text-align: center;">{{ teachers_name }}</h3>
          <div>
            <a href="#" value="database" name="check" class="btn btn-success"><i class="fas fa-clipboard-check"></i> Check Scores</button>
            <a href="#" class="btn btn-info"><i class="fas fa-user"></i> My Details</button>
            <a href="/" class="btn btn-danger"><i class="fas fa-sign-out-alt"></i> Logout</a href="/">
          </div>
        </div>
      </div>
    </form>
  </body>
</html>