<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="bootstrap.min.css">
  <link href="fontawesome-free-5.15.4-web/css/all.min.css" rel="stylesheet">
  <style>
    body {
      background: linear-gradient(to right, #4b6cb7, #182848);
      color: white;
    }
    .profile-container {
      max-width: 500px;
      margin: 50px auto;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      background: #1a2943;
      text-align: center;
    }
    .profile-image {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin: 20px auto;
    }
    .btn {
      margin: 10px;
    }
  </style>
</head>
<body>
  <div class="container profile-container">
    <img src="teacher-image.jpg" class="profile-image" alt="Teacher Image">
    <h2>Teacher Name</h2>
    <div>
      <a href="#" class="btn btn-primary"><i class="fa fa-pencil"></i> Input Scores</a>
      <a href="#" class="btn btn-success"><i class="fa fa-check"></i> Check Scores</a>
      <a href="#" class="btn btn-info"><i class="fa fa-user"></i> My Details</a>
      <a href="#" class="btn btn-danger"><i class="fa fa-sign-out"></i> Logout</a>
    </div>
  </div>
</body>
</html>