<!DOCTYPE html>
<html>
<head>
  <title>Ajax</title>
  <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.7.1.js') }}"></script>
</head>
<body>
  <p id="quest">{{ questions[0] }}</p>
  <button id="loadButton">Load</button>
  <script type="text/javascript">
    var Index=0;
    $('#loadButton').click(function() {
      // body...
      $.ajax({
        url:"/get_data",
        type: "GET",
        data: {index: Index},
        success: function(response) {
          // body...
          if (response.question) {
            Index ++;
            $('#quest').text(response.question[0]);
          } else if (response.message) {
            $('#quest').text(response.message)
          }
        }
      });
    })
  </script>
</body>
</html>